@import url('https://fonts.googleapis.com/css?family=Muli');
* {
    margin: 0;
    padding: 0;
    font: inherit;
    box-sizing: border-box;
}
html {
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: transparent;
    -webkit-focus-ring-color: rgba(255, 255, 255, 0)
}

body {
    font-size: 100%;
    line-height: 1;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    font-family: 'Muli', sans-serif;
}
.tariffs {
    padding: 98px 0 0;
    background-color: #f8f8f8
}

.tariffs__wrapper {
    width: 83%;
    min-width: 600px;
    max-width: 1024px;
    margin: 0 auto
}

.tariffs__header {
    margin-bottom: 8px;
    font-size: 30px;
    line-height: 37px;
    font-family: 'Muli', sans-serif;
    color: #1c1c1c;
    text-align: center
}

.tariffs__header-text {
    text-align: center;
    font-size: 18px
}

.tariffs__header-description {
    font-size: 24px;
    line-height: 37px;
    font-family: 'Muli', sans-serif;
    color: #00a0a1;
    text-align: center
}

.tariffs__inner {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin-top: 86px
}

.tariffs__plan {
    position: relative;
    width: 24%;
    height: 460px;
    min-width: 225px;
    max-width: 300px;
    margin: 0 .5%;
}

.tariffs__plan-header {
    position: relative
}

.tariffs__plan-header:before {
    position: absolute;
    content: "";
    bottom: 0;
    left: 0;
    width: 100%;
    height: 92%;
    box-shadow: 0 0 28px rgba(0, 0, 0, .07), 0 0 7px rgba(0, 0, 0, .04)
}

.tariffs__plan-bottom {
    background: #fff;
    box-shadow: 0 20px 28px rgba(0, 0, 0, .07), 0 10px 7px rgba(0, 0, 0, .04)
}

.tariffs__plan-price {
    position: relative;
    height: 82px;
    padding: 11px 0;
    text-align: center;
    background: #fff;
    border-bottom: 1px solid #e9e9e9;
    border-radius: 8px 8px 0 0
}

.tariffs__plan-price-name {
    margin-bottom: 7px;
    font-size: 18px;
    font-family: 'Muli', sans-serif;
    font-weight: bold;
    color: #EB6C23;
    text-transform: inherit;
}

.tariffs__plan-price-money {
    font-size: 38px;
    font-family: 'Muli', sans-serif;
    font-weight: bold;
    color: #00a0a1
}

.tariffs__plan-price-info {
    margin-top: 1px;
    font-size: 16px;
    font-family: 'Muli', sans-serif;
    color: #fff
}

.tariffs__plan-price span {
    font-size: 12px;
    font-family: 'Muli', sans-serif;
    color: #c2c2c2
}

.tariffs__plan-info {
    padding: 15px 6% 10px 6%;
    background-color: #fff
}

.tariffs__plan-info-items {
    font-size: 14px;
    line-height: 38px;
    color: #636363;
    list-style-type : none !important;
    margin: 0 !important;
    -moz-padding-start: 0 !important;
    padding: 0;
}

.tariffs__plan-info-item {
    position: relative;
    padding-left: 30px;
    list-style-type: none !important;
}

.tariffs__plan-info-item-icon {
    position: absolute;
    width: 23px;
    height: 23px;
    top: 6px;
    left: 0;
    text-align: left;
    color: #e6e6e6;
    border: 2px solid #e6e6e6;
    border-radius: 50%;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg)
}

.tariffs__plan-info-item-icon:before {
    position: absolute;
    content: "";
    width: 8px;
    height: 2px;
    top: 10px;
    left: 7px;
    pointer-events: none;
    box-shadow: inset 0 0 0 32px
}

.tariffs__plan-info-item-icon:after {
    position: absolute;
    content: "";
    width: 2px;
    height: 5px;
    bottom: 8px;
    left: 6px;
    pointer-events: none;
    box-shadow: inset 0 0 0 32px
}

.tariffs__plan-info span {
    position: relative;
    font-family: 'Muli', sans-serif;
    font-weight: bold;
    color: #000;
    z-index: 1;
    border-bottom: 2px solid #e6e6e6;
}

.tariffs__plan-info span:before {
/*    position: absolute;
    content: "";
    width: 100%;
    height: 4px;
    background-color: #EB6C23;
    bottom: 4px;
    left: 0;
    z-index: -1*/
}

.tariffs__plan-middle {
    position: relative;
    height: 16px;
    overflow: hidden;
    background: #fff
}

.tariffs__plan-middle:after, .tariffs__plan-middle:before {
    position: absolute;
    content: "";
    width: 16px;
    height: 16px;
    top: 0;
    background-color: #f8f8f8;
    border-radius: 50%;
    box-shadow: inset 0 0 7px rgba(0, 0, 0, .07), 0 10px 7px rgba(0, 0, 0, .04)
}

.tariffs__plan-middle:before {
    left: -9px
}

.tariffs__plan-middle:after {
    right: -9px
}

.tariffs__plan-middle-border {
    width: 94.5%;
    height: 2px;
    margin: 8px auto 0;
    background: url("https://d1q2p5ed1462bm.cloudfront.net/billing/dashed.png") center no-repeat
}

.tariffs__plan-bottom {
    padding: 15px 0 24px;
    border-radius: 0 0 8px 8px
}

.tariffs__plan-button {
    width: 79.8%;
    height: 35px;
    margin: 0 auto;
    font-size: 16px;
    font-family: 'Muli', sans-serif;
    line-height: 35px;
    text-align: center;
    color: #fff;
    background-color: #EB6C23;
    border-radius: 8px;
    cursor: pointer
}

.tariffs__plan_big {
    /* width: 23.63%; */
    height: 520px;
    top: -31px;
    /* margin: 0 3.4%; */
    border-radius: 9px 9px 0 0;
}

.tariffs__plan_big:before {
    position: absolute;
    content: "";
    width: 81px;
    height: 78px;
    left: 50%;
    background: url("https://d1q2p5ed1462bm.cloudfront.net/billing/4.svg");
    will-change: transform;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-transform: translate(-50%, 0);
    transform: translate(-50%, 0);
    -webkit-transition: .8s -webkit-transform ease-out 0s;
    transition: .8s transform ease-out 0s;

}

.tariffs__plan_big:after {
    position: absolute;
    content: "";
    width: 98px;
    height: 5px;
    top: -3px;
    left: 50%;
    background: url("https://d1q2p5ed1462bm.cloudfront.net/billing/handles.svg");
    background-size: cover;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transform: translate(-50%, 0);
    transform: translate(-50%, 0)
}

.tariffs__plan_big_animate:before {
    -webkit-transform: translate(-50%, -52%);
    transform: translate(-50%, -52%)
}

.tariffs__plan_big-price {
    height: 111px;
    padding: 14px 0;
    background-color: #00a0a1
}

.tariffs__plan_big-price-name {
    color: #fff
}

.tariffs__plan_big-price-money {
    color: #EB6C23
}

.tariffs__plan_big-price span {
    color: #fff;
    opacity: .5
}

.tariffs__plan_big-info {
    padding: 26px 6% 20px 15.4%
}

.tariffs__plan_big-bottom {
    padding: 20px 0 26px;
    border-radius: 0 0 9px 9px
}

.tariffs__plan_big-button {
    height: 35px
}

.tariffs__plan-button a {
    text-decoration: none;
    color: white;
}

.tariffs.cc-bu .styled_title,
.tariffs.cc-bu .feature__title {
    text-align: center !important;
}

.credit-card .tariffs__plan-button {
    border: 0;
    padding: 3px 0;
    height: auto;
    margin: 0 auto;
    display: block;
    width: 100%;
}

@media all and (max-width: 480px) {
    .tariffs__header-description-link {
        line-height: 25px;
    }
}

@media only screen and (max-width: 767px) {

    .tariffs__header {
        font-size: 5vw
    }
    .tariffs__inner {
        display: block;
        width: 95%;
        margin: 15px auto
    }

    .tariffs__plan {
        max-width: 100%;
        width: 100%;
        margin-bottom: 75px
    }

    .tariffs__plan-price-name {
        position: absolute;
        top: 30px;
        left: 30px;
        font-size: 20px
    }

    .tariffs__plan-price-money {
        position: absolute;
        top: 25px;
        right: 15px;
        font-size: 34px
    }

    .tariffs__plan-price-info {
        position: absolute;
        top: 42px;
        left: 29px
    }

    .tariffs__plan-middle-border {
        background-repeat: repeat-x
    }

    .tariffs__plan-button {
        width: 90%;
        height: 45px;
        line-height: 45px;
        font-size: 20px
    }

    .tariffs__plan_big {
        margin: 0;
        width: 100%;
        height: auto
    }

    .tariffs__plan_big::after, .tariffs__plan_big:before {
        display: none
    }

    .tariffs__plan_big-price {
        height: 80px
    }

    .tariffs__plan_big-price-name {
        top: 23px
    }

    .tariffs__plan_big-info {
        left: 28px;
        top: 42px;
        padding: 15px 6% 10px 12%
    }

    .tariffs__plan_big-button {
        width: 90%;
        height: 45px;
        line-height: 45px;
        font-size: 20px
    }

}

@media only screen and (max-width: 480px) {
    .tariffs__header-description {
        font-size: 5vw
    }
}


.tariffs__control__tab{
display: block;
    text-align: center;
}

.tariffs__control__tab ul{
    display: inline-block;
    margin: 0 auto;
    border: 2px solid #EB6C23;
    border-radius: 7px;

}
.tariffs__control__tab ul li{
    /*padding: 0 !important;*/
}
.tariffs__control__tab ul li:nth-child(2){
    border-right: 2px solid #EB6C23;
    border-left: 2px solid #EB6C23;
    margin: 0 -3px;
}
.tariffs__control__tab ul li{
    padding: 15px 0;
    font-size: 15px;
    text-transform: inherit;
    display: inline-block;
    font-weight: bold;
    color: #222;
    width: 225px;
}
.tariffs__control__tab ul li:hover, .tariffs__control__tab ul li.current{
    background: #EB6C23;
    color: white;
    cursor: pointer;
    -webkit-transition: .5s background-color ease-out 0s;
    transition: .5s background-color ease-out 0s
}

.tariffs section.tab-content{
    display: none;
}
.tariffs section.current{
    display: block;
    -webkit-transition: .5s -webkit-transform ease-out 0s;
    transition: .5s transform ease-out 0s
}

@media only screen and (max-width: 768px) {
    .tariffs__wrapper {
        width: 90%;
        min-width: 280px
    }
    .tariffs__control__tab ul li{
        width: 100% !important;
    }
    .tariffs__control__tab ul li:nth-child(2){
        border-right: none;
        border-left: none;
        margin: 0 -3px;
    }
}

@media only screen and (min-width: 768px) {
.tariffs__control__tab {
    margin-bottom: 120px;
}
}

.transition, p, ul li i:before, ul li i:after {
  transition: all 0.5s ease-in-out;
}

.flipIn, h1, ul li {
  animation: flipdown 0.5s ease both;
}


ul.pt__accordion {
  list-style: none;
  perspective: 900;
  padding: 0;
  margin: 0;
}
ul.pt__accordion li {
  position: relative;
  /*padding: 0;*/
  margin: 0;
  /*padding-bottom: 4px;*/
  border-top: 1px dotted #dce7eb;
}
.additional__options:hover{
    cursor: default !important;
}
ul.pt__accordion li h4{
    font-size: 15px;
    font-weight: bold;
    text-align: center;
}
ul.additional__options li:nth-of-type(1),ul.pt__accordion li:nth-of-type(1) {
  animation-delay: 0.5s;
}
ul.additional__options li:nth-of-type(2),ul.pt__accordion li:nth-of-type(2) {
  animation-delay: 0.75s;
}
ul.additional__options li:nth-of-type(3),ul.pt__accordion li:nth-of-type(3) {
  animation-delay: 1s;
}
ul.pt__accordion li:last-of-type {
  padding-bottom: 0;
}
ul.pt__accordion li i {
  position: absolute;
  transform: translate(-6px, 0);
  margin-top: 16px;
  right: 0;
  margin-right: 20px;
}
ul.pt__accordion li i:before, ul.pt__accordion li i:after {
  content: "";
  position: absolute;
  background-color: #ff6873;
  width: 3px;
  height: 9px;
}
ul.pt__accordion li i:before {
  transform: translate(-2px, 0) rotate(45deg);
}
ul.pt__accordion li i:after {
  transform: translate(2px, 0) rotate(-45deg);
}
ul.pt__accordion li input[type=checkbox] {
  position: absolute;
  cursor: pointer;
  width: 100%;
  height: 100%;
  z-index: 1;
  opacity: 0;
}
ul.pt__accordion li input[type=checkbox]:checked ~ .additional__options {
  margin-top: 0;
  max-height: 0;
  opacity: 0;
  transform: translate(0, 50%);
}
ul.pt__accordion li input[type=checkbox]:checked ~ i:before {
  transform: translate(2px, 0) rotate(45deg);
}
ul.pt__accordion li input[type=checkbox]:checked ~ i:after {
  transform: translate(-2px, 0) rotate(-45deg);
}



@keyframes flipdown {
  0% {
    opacity: 0;
    transform-origin: top center;
    transform: rotateX(-90deg);
  }
  5% {
    opacity: 1;
  }
  80% {
    transform: rotateX(8deg);
  }
  83% {
    transform: rotateX(6deg);
  }
  92% {
    transform: rotateX(-3deg);
  }
  100% {
    transform-origin: top center;
    transform: rotateX(0deg);
  }
}
