
/* --------------------------------

Main StyleSheet

-------------------------------- */
body{
    background: white;
}

a{
	color: $link-color;
}

/*!---------- Selection-Color ----------*/
::selection {
  background: $link-color;
  color: white;
}
::-moz-selection {
  background: $link-color;
  color: white;
}

.fix-top-bottom{
	width: 100%;
    background: #093250;
    padding: 30px 0;
    text-align: center;
    p{
        color: white;
    }
}

#top-fixed{
    position: relative;
    top: 0;
    left: 0;
    right: 0;
}
#bottom-fixed{
    position: relative;
    bottom: 0;
    left: 0;
    right: 0;
    ul{
        padding-bottom: 10px;
        li > a i.fa{
            width: 30px;
            height: 30px;
            line-height: 30px;
            border: 1px solid;
            border-radius: 50px;
            &:hover{
                color: white;
                border-color: $link-color;
                background: $link-color;
                transition: all ease-in-out 0.3s;
            }
        }
     }
}
#inner-sections{
    text-align: center;
    padding: 50px 0;
    h2,h3,h4{
        color: #093250;
        font-weight: 200;
        font-family: inherit;
        letter-spacing: 1px;
    }
    .right-text{
        padding-top: 20px;
    }
    ul.list-inline{
        li>a{
            // background: $link-color;
            background-color: $link-color;
            color: white;
            padding: 20px 40px;
            display: block;
            margin: 30px 0;
            width: 150px;
            font-size: 21px;
            border-radius: 3px;
            i.fa{
                display: none;
            }
            &.green-btn{
                background: #5cb85c;
            }
            &:hover{
                text-decoration: none;
                background: $primary-color;
                transition: all ease-in-out .3s;
                i.fa{
                    display: inline-block;
                }
            }
        }
    }
    #bottom-container{
        // background: #f9f9f9;
        .left-text{
            padding-top: 192px;
        }
    }
}

#map {
  width: 100%;
  height: 350px;
}

/* scroll to top */
.scrollup{
    position:fixed;
    width:32px;
    height:32px;
    bottom:0px;
    right:20px;
    background: $link-color;
-webkit-border-radius: 2px 2px 0 0;
    -moz-border-radius: 2px 2px 0 0;
    border-radius:  2px 2px 0 0;
}

a.scrollup {
    outline:0;
    text-align: center;
}

a.scrollup:hover,a.scrollup:active,a.scrollup:focus {
    opacity:1;
    text-decoration:none;
}
a.scrollup i {
    margin-top: 10px;
    color: #fff;
}
a.scrollup i:hover {
    text-decoration:none;
}
.modal .panel-heading{
    background: $primary-color !important;
    border: none;
    margin-bottom: 20px;
}
.modal .panel-title{
    line-height: 2;
    font-weight: 400;
    letter-spacing: 2px;
}
.modal .panel input, .modal .panel button.close-btn{
    border-radius: 5px !important;
    padding: 20px 30px;
    box-shadow: 0 0 3px 0 #999;
    border: none;
}
.modal .panel button.close-btn:hover{
    outline: none;
    background: #F7B800;
    color: white;
}
.modal .panel-footer{
    border-top: none;
    background: white;
    .btn-success{
        padding: 15px 50px;
        border-radius: 5px;
        background: $link-color;
        border: none;
        &:hover{
        background: $primary-color;
        }
        &:focus{
            outline: none;
        }
    }
}
.modal .panel{
    border: none;
    .close{
        opacity: .75;
        color: white;
        &:hover{
            opacity: 1;
            color: white;
        }
        &:focus{
            outline: none;
        }
    }
}
.panel textarea.form-control{
    padding: 20px 30px;
    margin-bottom: 20px;
}
@media (min-width: 768px) {
    .modal-dialog {
        margin: 30px auto;
        top: 50%;
        margin-top: -300px;
        border-radius: 5px;
    }
    .post-img img{
        padding-top: 30px;
    }
    .left-text{
        padding-top: 20px;
        padding-bottom: 20px;
    }
}
@media (max-width: 767px) {
    .left-text{
        padding: 20px 0 !important;
    }
}
.modal .col-md-6{
    margin: 10px 0;
}
.first-name-error, .last-name-error, .contact-email-error, .contact-subject-error, .contact-message-error {
    color: #ffffff;
    position: absolute;
    background: $link-color;
    display: none;
    left: 25px;
    top: -30px;
    padding: 5px 10px;
    border-radius: 3px;
}
.first-name-error:after, .last-name-error:after, .contact-email-error:after, .contact-subject-error:after, .contact-message-error:after {
    position: absolute;
    content: "";
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 12px;
    border-color: $link-color transparent transparent transparent;
    left: 25px;
    bottom: -24px;
}
.custom-btn {
    background: none;
    color: green;
    font-size: 40px;
    line-height: 1;
    margin-top: 40px;
    &:hover,&:focus{
        color: green;
        transition: all ease-in-out 0.5s;
        outline: none;
    }
}

#contact-submit {
    background: none;
    color: $link-color;
    font-size: 40px;
    line-height: 1;
    &:hover,&:focus{
        color: $primary-color;
        transition: all ease-in-out 0.5s;
        outline: none;
    }
}
#contact-loading{
    display: none;
    cursor: inherit;
}
.modal .red{
    color: $link-color;
    padding-bottom: 10px;
}

input {
  border: 2px solid #ddd;
  color: black;
  background: #f0f2f1;
  height: 48px;
  margin-top: 5px;
  padding: 12px 8px;
  width: 70%;
  border-radius: 5px;
}
.contFrm textarea {
  margin-top: 5px;
  padding: 12px 8px;
  width: 70%;
  background: #f0f2f1;
  color: black;
  border: 2px solid #ddd;
  height: 115px;
  border-radius: 5px;
}
.button {
  border: 0 solid #000000;
  border-radius: 4px;
  box-shadow: none;
  color: black;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  background: #d5dad8;
  transition : none
}
.button:hover {
  background: #444444;
  text-decoration: none;
  color: #fff;
}
/* Custom Media Query */
@media screen and (max-width: 768px) {
  .contFrm .text-left,
  .contFrm .text-right {
    text-align: center;
  }
}
#modal-form .wrapper{
    padding: 0;
}
#modal-form .wrapper .content{
    padding: 0;
}
#modal-form .container{
    max-width: 100%;
    .inner{
        margin-left: -20px;
    }
}

#modal-form .j-forms .primary-btn, .j-forms .secondary-btn {
    margin: 10px auto;
    width: auto;
    padding: 5px 50px;
    background: $link-color;
    i.fa{
        display: none;
    }
    &:hover {
        transition: all ease-in-out 0.3s;
        background: $primary-color;
        i.fa{
            display: inline-block;
        }
    }
}
.j-forms input:hover, .j-forms input:focus{
    box-shadow: 0px !important;
    border: 2px solid 2px solid rgba(48,63,159,.6);
    transition: none !important;

}