
/* --------------------------------

All variables in one place

-------------------------------- */
$primary-color      :  #093250;
$link-color 		:  #f4645f;
$link-hover 		:  #ddd;
$selection-color 	:  white;
$selection-bg    	:  $link-color;
$headings-color     :  #222;